
.App {
  background-color: bisque;
  padding-top: 100px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.7rem;
}

.middlerow {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 0 10px;
  font-size: 1.2rem;
}

button {
  background-color: salmon;
  padding: 10px;
  border-radius: 15px;
  margin: 0 10px;
}